.pageNotfoundContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pageNotfountTitle {
  font-size: 3rem;
  font-weight: bolder;
}
